body{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.box {
    padding: 0;
    margin-top: -3px; 
    box-shadow: 0 0 18px #b8b8b8; 
    background-color: #fff; 
    border-radius: 10px;
    margin: 10px;
    border: none;
    border-top: none;
}

.box .box-body {
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

#sidebarCollapsed {
    padding-top: 0;
    background-color: #202123;
}

.sidebar-toggle, #sidebarCollapsed {
    position: fixed;
    top: 0;
    left: 0;
}

.selectize-control.multi .selectize-input > div {
    background-color: #424449;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    color: #ECECF1;
    border: 1px solid hsla(0,0%,100%,.2);
}

.selectize-control.multi .selectize-input > input {
    color: #ECECF1;
}


.selectize-input, input.form-control {
    background-color: #424449;
    color: #ECECF1;
    border-radius: 5px;
    border: none;
}

.skin-blue .main-header .navbar {
    padding: 0;
    margin: 0;
    width: 300px;
    background-color: transparent;
}

.skin-blue .main-header .logo {
    display: none;
}

header.main-header {
    position: absolute;
    top: 0;
    width: 42.5px;
    background-color: transparent;
}

.content-wrapper, .right-side {
    background-color: #f1f1f5;
}

@media (min-width: 768px)
{
    .sidebar-collapse .content-wrapper, 
    .sidebar-collapse .main-footer, 
    .sidebar-collapse .right-side {
        margin-left: 42.5px;
    }
}

.skin-blue .main-header .navbar .sidebar-toggle {
    background-color: transparent;
    border-radius: 30%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 0 3px;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: transparent;
}

@media(max-width: 767px) {
    .skin-blue .main-header .navbar .sidebar-toggle,
    .skin-blue .main-header .navbar .sidebar-toggle:hover
     {
        background-color: rgb(32, 33, 35, 0.5);
    }
}

@media(hover: hover)
{
    .skin-blue .main-header .navbar .sidebar-toggle:hover {
        background-color: #424242;
    }
}

#filters-title {
    height: 50px;
    padding-left: 60px;
    color: #fff;
}

#filters-title span {
    line-height: 50px;
    font-size: large;
}


#section-title {
    margin: 0;
    margin-top: -25px;
    padding: 0;
    background: 
        url('../img/bg.png') center center no-repeat,
        url('../img/bg.png') left bottom no-repeat,
        url('../img/bg.png') right top no-repeat,
        linear-gradient(45deg, #9eb9c9, #297099) center center no-repeat;
    background-size: 350%, 250%, 150%, 100%;
    background-attachment: fixed;
    height: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}

@media(max-width: 496px) {
    #section-title {
        height: 300px;
    }
}

#section-title .dashboard-title {
    width: 100%;
    color: #fff;
}

#section-title .dashboard-source {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-title .dashboard-source span {
    font-size: 2rem;
    margin-right: 2rem;
}

#section-title .dashboard-source img {
    width: 140px;
}

#section-title .dashboard-source a {
    padding: 0.7rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

@media(hover: hover)
{
    #section-title .dashboard-source a:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

#section-title h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: -0.3rem;
    font-size: 5rem;
}

@media(max-width: 992px)
{
    #section-title h1 {
        font-size: 3.5rem;
    }
    
}


.chart-title {
    background-color: #3c8dbc;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.chart-title h3 {
    margin: 0;
    color: #f3f3f3;
}

/* footer */

#footer {
    margin: 0;
    padding: 30px;
    height: 100%;
    background: #c4c4c4;
    background-size: 300%, 210%, 150%, 100%;
    background-attachment: fixed;
}

#footer li {
    margin-bottom: 1rem;
}

#footer a, #footer span{
    text-decoration: none;
    color: #575757;
    transition: all 0.1s ease-in-out;
    font-size: medium;
    display: block;
}

@media(hover: hover)
{
    #footer a:hover{
        margin-left: 10px;
    }
}

footer h4 {
    color: rgb(32, 32, 32)a8a;
    font-weight: 700;
    margin-bottom: 1em;
}

#footer .footer-col-content {
    width: 200px;
    margin: auto;
    padding: 1rem 0 0 0;
}

#footer ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
}

.chart-row {
    margin: 0.5rem;
    margin-bottom: 5rem;
}

.hr {
    border-bottom: 3px solid #b8b8b8;
    max-width: 300px;
}

.row-title {
    margin: 0rem 2rem 0.5rem 2rem;
}

/* navbar */

#navbar {
    margin: 0;
    padding: 0;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-item {
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
}

.navbar-link, .navbar-link:link, .navbar-link:visited {
    border: 1px solid #367faa;
    color: #367faa;
    transition: all 0.1s ease-in-out;
    font-size: medium;
    display: block;
    width: 130px;
    line-height: 25px;
    border-radius: 13px;
    margin: 10px;
}

a.navbar-link:active {
    background-color: #becbd3;
    border: 1px solid #becbd3;
}

@media(hover: hover) {
    .navbar-link:hover {
        color: #fff;
        background-color: #367faa;
    }
}

@media(max-width: 496px) {
    .navbar-item {
        width: 100%;
    }

    .navbar-item .navbar-link {
        margin: 10px auto ;
    }
}


/* Scroll top button */
.scroll-top {
    background-color: rgba(100, 100, 238, 0.4);
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.scroll-top i {
    font-size: large;
    color: #fff;
}

@media(hover: hover)
{
    .scroll-top:hover {
        background-color: rgba(100, 100, 238, 1);
    }
}